name: CI Test

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install dependencies
      run: npm install

    - name: Prisma generate
      run: npx prisma generate

    - name: Prisma validate
      run: npx prisma validate

    - name: Lint
      run: npm run lint || echo "Lint skipped"

    - name: Build
      run: npm run build || echo "No build script"
